body {
  padding: 0;
  margin: 0;
}

.pwc-f-cntnr {
  width: 1250px;
  margin: auto;
}

.pwc-col-4 {
  width: 33.33%;
}

.pwc-col-6 {
  width: 50%;
}

.pwc-col-12 {
  width: 100%;
}

.pwc-cntr-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.prpd-wf-ctgry .pwc-sticky-top {
  top: 0 !important;
}

.prpd-wf-ctgry .pwc-anchr-box {
  bottom: 0;
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 50px;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .item {
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list a {
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav {
  background: transparent;
  position: absolute;
  top: -1px;
  width: 100%;
  height: 0;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav .owl-prev.disabled,
.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav .owl-next.disabled {
  display: none;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav .owl-next {
  float: right;
  position: relative;
  top: 10px;
  right: 20px;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav .owl-prev {
  float: left;
  position: relative;
  top: 10px;
  left: 20px;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav button {
  width: 32px;
  height: 32px;
  background: #f5f9fc;
  border-radius: 50%;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-nav button span {
  top: -2px;
  position: relative;
  color: #2274e5 !important;
  font-size: 26px;
}

.prpd-wf-ctgry .pwc-anchr-box .pwc-anchr-list .owl-dots {
  display: none;
}

.prpd-wf-ctgry .pwc-fld {
  padding: 30px;
}

.prpd-wf-ctgry .pwc-gahpw {
  background: url(../img/pwc-gahpw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prpd-wf-ctgry .pwc-gahpw .pwc-sb_ttl {
  color: #39291f;
}

.prpd-wf-ctgry .pwc-gahpw .pwc-prdct_ttl {
  color: #49372c;
}

.prpd-wf-ctgry .pwc-gahpw .pwc-dsc {
  color: #39291f;
}

.prpd-wf-ctgry .pwc-hpwbg {
  background: url(../img/hpw-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.prpd-wf-ctgry .pwc-hpwbg .pwc-sb_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-hpwbg .pwc-prdct_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-hpwbg .pwc-dsc {
  color: #4c627a;
}

.prpd-wf-ctgry .pwc-hpwbg .pwc-cta {
  background: #2274e5;
  color: #fff;
}

.prpd-wf-ctgry .pwc-ltea {
  background: url(../img/ltea-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prpd-wf-ctgry .pwc-ltea .pwc-sb_ttl {
  color: #fff;
  opacity: 0.6;
}

.prpd-wf-ctgry .pwc-ltea .pwc-prdct_ttl {
  color: #fff;
}

.prpd-wf-ctgry .pwc-ltea .pwc-dsc {
  color: #fff;
  opacity: 0.65;
}

.prpd-wf-ctgry .pwc-ltea .pwc-cta {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.prpd-wf-ctgry .pwc-xhpw {
  background: url(../img/xhpw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prpd-wf-ctgry .pwc-xhpw .pwc-sb_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-xhpw .pwc-prdct_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-xhpw .pwc-dsc {
  color: #4c627a;
}

.prpd-wf-ctgry .pwc-xhpw .pwc-cta {
  background: #2274e5;
  color: #fff;
}

.prpd-wf-ctgry .pwc-mla {
  background: url(../img/mla-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prpd-wf-ctgry .pwc-mla .pwc-sb_ttl {
  color: #fff;
  opacity: 0.6;
}

.prpd-wf-ctgry .pwc-mla .pwc-prdct_ttl {
  color: #fff;
}

.prpd-wf-ctgry .pwc-mla .pwc-dsc {
  color: #fff;
  opacity: 0.65;
}

.prpd-wf-ctgry .pwc-mla .pwc-cta {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.prpd-wf-ctgry .pwc-myfi {
  background: url(../img/myfi-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.prpd-wf-ctgry .pwc-myfi .pwc-sb_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-myfi .pwc-prdct_ttl {
  color: #354f6a;
}

.prpd-wf-ctgry .pwc-myfi .pwc-dsc {
  color: #4c627a;
}

.prpd-wf-ctgry .pwc-myfi .pwc-cta {
  background: #2274e5;
  color: #fff;
}

.prpd-wf-ctgry .pwc-cmpr {
  padding: 50px 0 50px;
  background-color: #f5f9fc;
}

.prpd-wf-ctgry .pwc-cmpr .pwc-sb_ttl {
  color: #1a458b;
  text-align: center;
  font-size: 28px;
  margin: 40px 0 25px 0;
}

.prpd-wf-ctgry .pwc-sb_ttl {
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0;
}

.prpd-wf-ctgry .pwc-prdct_ttl {
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin: 5px 0 20px 0;
  line-height: 115%;
}

.prpd-wf-ctgry .pwc-dsc {
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
}

.prpd-wf-ctgry .pwc-cta {
  padding: 12px 24px 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-item:hover {
  background: #cfddf4;
  border-radius: 8px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-item:hover .pwc-gs-cta {
  background: #2274e5;
  color: #fff !important;
}

.prpd-wf-ctgry .pwc-dvcs .owl-item:hover .pwc-gs-cta:after {
  -webkit-filter: brightness(999);
          filter: brightness(999);
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item {
  cursor: pointer;
  margin: 15px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-hldr {
  height: 160px;
  padding: 15px;
  background: radial-gradient(65.14% 65.14% at 50% 50%, #eaecef 0%, rgba(234, 236, 239, 0) 85.06%), #cad1d7;
  border-radius: 4px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-hldr img {
  width: 150px;
  margin: auto;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_dvc-name:after {
  content: "";
  display: block;
  height: 4px;
  background: #bcc4cd;
  position: relative;
  width: calc(100% + 40px);
  left: -15px;
  top: 15px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls h3 {
  color: #1a458b;
  font-size: 24px;
  text-align: center;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  margin: 40px 0;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_dvc-dscrptn {
  color: #0e3370;
  font-size: 15px;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  line-height: 24px;
  max-height: 180px;
  height: 130px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx {
  margin: 20px 0;
  text-align: center;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx:before {
  content: "";
  height: 1px;
  background: #bcc4cd;
  display: block;
  position: relative;
  width: calc(100% + 40px);
  left: -15px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx:after {
  content: "";
  height: 1px;
  background: #bcc4cd;
  display: block;
  position: relative;
  width: calc(100% + 40px);
  left: -15px;
  top: -5px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx .pwc_spcs_lst {
  margin: 40px 0;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx .pwc_spcs_lst img {
  width: 53px;
  margin: auto;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx .pwc_spcs_lst h4 {
  color: #0e3370;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  font-size: 18px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc_spcs-bx .pwc_spcs_lst span {
  color: #0e3370;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  font-size: 13;
  font-weight: 300;
  text-transform: uppercase;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc-cmpr-ctas a {
  color: #2274e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  text-decoration: none;
  font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc-cmpr-ctas a:after {
  content: url(../img/arrow-right.png);
  width: 11px;
  height: 17px;
  position: absolute;
  right: 20px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc-cmpr-ctas .pwc-gs-cta {
  border: 2px solid #2274e5;
  font-size: 16px;
}

.prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls .pwc-cmpr-ctas .pwc-ds-cta {
  font-size: 14px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav {
  display: block !important;
  position: absolute;
  top: 50%;
  width: 100%;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-prev {
  position: relative;
  left: -40px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-prev span {
  position: relative;
  left: -2px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-next {
  position: relative;
  right: -40px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-next span {
  position: relative;
  right: -2px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav button {
  width: 32px;
  height: 32px;
  background: #2274e5 !important;
  border-radius: 50%;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav button span {
  top: -2px;
  color: #fff;
  font-size: 24px;
}

.prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-next {
  float: right;
}

@media (max-width: 576px) {
  .prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item {
    width: 265px;
    margin: 20px 5px;
  }
  .prpd-wf-ctgry .pwc-gap {
    display: none;
  }
  .prpd-wf-ctgry .pwc-prdct-cntnt-dark {
    background: #ffffff75;
    padding: 15px;
    border-radius: 5px;
  }
  .prpd-wf-ctgry .pwc-prdct-cntnt-light {
    background: #00000075;
    padding: 15px;
    border-radius: 5px;
  }
  .prpd-wf-ctgry .pwc-prdct_ttl {
    font-size: 24px;
  }
  .prpd-wf-ctgry .pwc-cmpr .pwc-sb_ttl {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .prpd-wf-ctgry .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls h3 {
    font-size: 22px;
  }
  .prpd-wf-ctgry .pwc-f-cntnr {
    width: 100%;
  }
  .prpd-wf-ctgry .pwc-col-4 {
    width: 100%;
  }
  .prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-prev {
    left: -15px;
  }
  .prpd-wf-ctgry .pwc-dvcs .owl-nav .owl-next {
    right: -15px;
  }
}
/*# sourceMappingURL=prepaid_wifi_category_landing_page.css.map */