//Colors
$f-color-brown: #39291f;
$f-color-lbrown: #49372c;
$f-color-blue: #1f3b59;
$f-color-lblue: #354f6a;
$f-color-llblue: #4c627a;
$f-color-solidblue: #1a458b;
$f-color-specblue: #0e3370;
$fbg-color-blue: #2274e5;
$brd-white: 1px solid #fff;
$bg-color-lblue: #cfddf4;
$bg-gradient-graay: radial-gradient(
    65.14% 65.14% at 50% 50%,
    #eaecef 0%,
    rgba(234, 236, 239, 0) 85.06%
  ),
  #cad1d7;

//font size
$f-small: 16px;
$f-medium: 24px;
$f-big: 48px;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 400px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 1024px;

body {
  padding: 0;
  margin: 0;
}
//globals
.pwc-f-cntnr {
  width: 1250px;
  margin: auto;
}

.pwc-col-4 {
  width: 33.33%;
}
.pwc-col-6 {
  width: 50%;
}
.pwc-col-12 {
  width: 100%;
}
.pwc-cntr-cnt {
  display: flex;
  align-items: center;
  height: 100vh;
}

.prpd-wf-ctgry {
  .pwc-anchr-box {
    top: 0;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 999;
    .pwc-anchr-list {
      .item {
        text-align: center;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
      }

      a {
        color: #fff;
        display: block;
        font-size: 15px;
        font-weight: 700;
        padding: 15px;
        font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
        text-decoration: none;
      }
      .owl-nav {
        background: transparent;
        position: absolute;
        top: -1px;
        width: 100%;
        height: 0;

        .owl-prev.disabled,
        .owl-next.disabled {
          display: none;
        }

        .owl-next {
          float: right;
          position: relative;
          top: 10px;
          right: 20px;
        }
        .owl-prev {
          float: left;
          position: relative;
          top: 10px;
          left: 20px;
        }

        button {
          width: 32px;
          height: 32px;
          background: #f5f9fc;
          border-radius: 50%;
          span {
            top: -2px;
            position: relative;
            color: #2274e5 !important;
            font-size: 26px;
          }
        }
      }
      .owl-dots {
        display: none;
      }
    }
  }
  .pwc-fld {
    padding: 30px;
  }

  .pwc-gahpw {
    background: url(../img/pwc-gahpw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .pwc-sb_ttl {
      color: $f-color-brown;
    }
    .pwc-prdct_ttl {
      color: $f-color-lbrown;
    }
    .pwc-dsc {
      color: $f-color-brown;
    }
  }
  .pwc-hpwbg {
    background: url(../img/hpw-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .pwc-sb_ttl {
      color: $f-color-lblue;
    }
    .pwc-prdct_ttl {
      color: $f-color-lblue;
    }
    .pwc-dsc {
      color: $f-color-llblue;
    }
    .pwc-cta {
      background: $fbg-color-blue;
      color: #fff;
    }
  }

  .pwc-ltea {
    background: url(../img/ltea-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .pwc-sb_ttl {
      color: #fff;
      opacity: 0.6;
    }
    .pwc-prdct_ttl {
      color: #fff;
    }
    .pwc-dsc {
      color: #fff;
      opacity: 0.65;
    }
    .pwc-cta {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .pwc-xhpw {
    background: url(../img/xhpw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .pwc-sb_ttl {
      color: $f-color-lblue;
    }
    .pwc-prdct_ttl {
      color: $f-color-lblue;
    }
    .pwc-dsc {
      color: $f-color-llblue;
    }
    .pwc-cta {
      background: $fbg-color-blue;
      color: #fff;
    }
  }

  .pwc-mla {
    background: url(../img/mla-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .pwc-sb_ttl {
      color: #fff;
      opacity: 0.6;
    }
    .pwc-prdct_ttl {
      color: #fff;
    }
    .pwc-dsc {
      color: #fff;
      opacity: 0.65;
    }
    .pwc-cta {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .pwc-myfi {
    background: url(../img/myfi-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .pwc-sb_ttl {
      color: $f-color-lblue;
    }
    .pwc-prdct_ttl {
      color: $f-color-lblue;
    }
    .pwc-dsc {
      color: $f-color-llblue;
    }
    .pwc-cta {
      background: $fbg-color-blue;
      color: #fff;
    }
  }
  .pwc-cmpr {
    padding: 50px 0 50px;
    background-color: #f5f9fc;

    .pwc-sb_ttl {
      color: $f-color-solidblue;
      text-align: center;
      font-size: 28px;
      margin: 40px 0 25px 0;
    }
  }

  .pwc-sb_ttl {
    font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
  }
  .pwc-prdct_ttl {
    font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin: 5px 0 20px 0;
    line-height: 115%;
  }
  .pwc-dsc {
    font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
  }
  .pwc-cta {
    padding: 12px 24px 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
  }
  .pwc-dvcs {
    .owl-item {
      &:hover {
        background: #cfddf4;
        border-radius: 8px;

        .pwc-gs-cta {
          background: $fbg-color-blue;
          color: #fff !important;

          &:after {
            filter: brightness(999);
          }
        }
      }
    }

    .pwc-wrp-item {
      cursor: pointer;
      margin: 15px;

      .pwc-dvc-hldr {
        height: 160px;
        padding: 15px;
        background: radial-gradient(
            65.14% 65.14% at 50% 50%,
            #eaecef 0%,
            rgba(234, 236, 239, 0) 85.06%
          ),
          #cad1d7;
        border-radius: 4px;
        img {
          width: 150px;
          margin: auto;
        }
      }
      .pwc-dvc-dtls {
        .pwc_dvc-name {
          &:after {
            content: "";
            display: block;
            height: 4px;
            background: #bcc4cd;
            position: relative;
            width: calc(100% + 40px);
            left: -15px;
            top: 15px;
          }
        }
        h3 {
          color: $f-color-solidblue;
          font-size: 24px;
          text-align: center;
          font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
          margin: 40px 0;
        }
        .pwc_dvc-dscrptn {
          color: $f-color-specblue;
          font-size: 15px;
          font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
          line-height: 24px;
          max-height: 180px;
          height: 130px;
        }
        .pwc_spcs-bx {
          margin: 20px 0;
          text-align: center;
          &:before {
            content: "";
            height: 1px;
            background: #bcc4cd;
            display: block;
            position: relative;
            width: calc(100% + 40px);
            left: -15px;
          }
          &:after {
            content: "";
            height: 1px;
            background: #bcc4cd;
            display: block;
            position: relative;
            width: calc(100% + 40px);
            left: -15px;
            top: -5px;
          }
          .pwc_spcs_lst {
            margin: 40px 0;
            img {
              width: 53px;
              margin: auto;
            }
            h4 {
              color: $f-color-specblue;
              font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
              margin: 10px 0;
              font-size: 18px;
            }
            span {
              color: $f-color-specblue;
              font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
              margin: 10px 0;
              font-size: 13;
              font-weight: 300;
              text-transform: uppercase;
            }
          }
        }
        .pwc-cmpr-ctas {
          a {
            color: $fbg-color-blue;
            display: flex;
            width: 60%;
            margin: auto;
            text-decoration: none;
            font-family: "Neue Plak Bold", Arial, Helvetica, sans-serif;
            font-weight: 700;
            padding: 20px;
            border-radius: 5px;
            position: relative;
            &:after {
              content: url(../img/arrow-right.png);
              width: 11px;
              height: 17px;
              position: absolute;
              right: 20px;
            }
          }
          .pwc-gs-cta {
            border: 2px solid $fbg-color-blue;
            font-size: 16px;
          }
          .pwc-ds-cta {
            font-size: 14px;
          }
        }
      }
    }
    .owl-nav {
      display: block !important;
      position: absolute;
      top: 50%;
      width: 100%;

      .owl-prev {
        position: relative;
        left: -40px;
        span {
          position: relative;
          left: -2px;
        }
      }
      .owl-next {
        position: relative;
        right: -40px;
        span {
          position: relative;
          right: -2px;
        }
      }
      button {
        width: 32px;
        height: 32px;
        background: #2274e5 !important;
        border-radius: 50%;
        span {
          top: -2px;
          color: #fff;
          font-size: 24px;
        }
      }

      .owl-next {
        float: right;
      }
    }
  }

  @media (max-width: $screen-xs-min) {
  }

  @media (max-width: $screen-sm-min) {
    .pwc-dvcs .pwc-wrp-item {
      width: 265px;
      margin: 20px 5px;
    }
    .pwc-gap {
      display: none;
    }
    .pwc-prdct-cntnt-dark {
      background: #ffffff75;
      padding: 15px;
      border-radius: 5px;
    }
    .pwc-prdct-cntnt-light {
      background: #00000075;
      padding: 15px;
      border-radius: 5px;
    }
    .pwc-prdct_ttl {
      font-size: 24px;
    }
    .pwc-cmpr .pwc-sb_ttl {
      padding: 0 15px;
    }
  }

  @media (max-width: $screen-md-min) {
    .pwc-dvcs .pwc-wrp-item .pwc-dvc-dtls h3 {
      font-size: 22px;
    }
    .pwc-f-cntnr {
      width: 100%;
    }
    .pwc-col-4 {
      width: 100%;
    }
    .pwc-dvcs .owl-nav .owl-prev {
      left: -15px;
    }
    .pwc-dvcs .owl-nav .owl-next {
      right: -15px;
    }
  }
}
